@model List<DBProgramming3.Models.Incident>

@{
    ViewBag.Title = "IncidentList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<script defer src="~/Content/JavaScript.js"></script>

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Incidents List</h2>
    </div>
    <div class="col-md-2"></div>
    @using (Html.BeginForm("IncidentList", "Incident", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="searchContainer">
                <div>Search By:</div>
                <select name="cmbSearch" id="cmbSearch" class="cmbSearch">
                    <option value="0">Choose an option</option>
                    <option value="1">ID</option>
                    <option value="2">Title</option>
                    <option value="3">Date Opened</option>
                    <option value="4">Date Closed</option>
                    <option value="5">Customer</option>
                    <option value="5">Technician</option>
                    <option value="5">Product</option>
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="searchTerm" placeholder="Search..." />
                <div>
                    <input type="submit" class="btnStyled smallBtn" value="GO" />
                </div>
            </div>
        </div>
    }
</div>

<form method="post" action="/Incident/CreateIncident" autocomplete="on" class="formAddElement">
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <h4>Add an Incident</h4>
            <div class="row inputsRow">
                <div class="col-md-3">
                    <label>Title:&nbsp;</label>
                    <br />
                    <input type="text" id="txtIncTitle" name="txtIncTitle" />&emsp;
                </div>
                <div class="col-md-3">
                    <label for="customerListChoice">Customer:&nbsp;</label>
                    <br />
                    <input list="customerList" id="customerListChoice" name="customerListChoice" class="inputStyle" />
                    <datalist id="customerList">
                        @foreach (var cust in ViewBag.Customers)
                        {
                            <option value="@cust.CustomerID">@cust.Name</option>
                        }
                    </datalist>
                </div>
                <div class="col-md-3">
                    <label for="technicianListChoice">Technician:&nbsp;</label>
                    <br />
                    <input list="technicianList" id="technicianListChoice" name="technicianListChoice" class="inputStyle" />
                    <datalist id="technicianList">
                        @foreach (var tech in ViewBag.Technicians)
                        {
                            <option value="@tech.TechID">@tech.Name</option>
                        }
                    </datalist>
                </div>
                <div class="col-md-3">
                    <label>Product:&nbsp;</label>
                    <br />
                    <input list="productList" id="productListChoice" name="productListChoice" class="inputStyle" />
                    <datalist id="productList">
                        @foreach (var prod in ViewBag.Products)
                        {
                            <option value="@prod.ProductCode">@prod.Name</option>
                        }
                    </datalist>
                </div>
            </div>
            <div class="row inputsRow">
                <div class="col-md-3">
                    <label>Date Opened:&nbsp;</label>
                    <br />
                    <input type="date" id="txtIncDateOpened" name="txtIncDateOpened" value="@DateTime.Today.ToShortDateString()" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>Date Closed:&nbsp;</label>
                    <br />
                    <input type="date" id="txtIncDateClosed" name="txtIncDateClosed" />&emsp;
                </div>
                <div class="col-md-6">
                    <label class="descriptionLabel">Description:&nbsp;</label>
                    <br />
                    <textarea rows="3" cols="100" id="txtIncDescription" name="txtIncDescription" class="inputStyle" style="width: 100%">
                    </textarea>
                </div>
            </div>

            <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewIncident" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="stateList" class="styled-table">
            <thead>
                <tr>
                    <th>Incident ID</th>
                    <th>Title</th>
                    <th>Date Opened</th>
                    <th>Date Closed</th>
                    <th>Customer</th>
                    <th>Technician</th>
                    <th>Product</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incident in Model)
                {
                <tr>
                    <td>@incident.IncidentID</td>
                    <td>@incident.Title</td>
                    <td>@incident.DateOpened.ToShortDateString()</td>
                    @if (!@incident.DateClosed.HasValue)
                    {
                        <td>Still Open</td>
                    }
                    else
                    {
                        <td>@incident.DateClosed.ToString().Substring(0, 10)</td>
                    }
                    <td>
                        @Html.ActionLink(@incident.Customer.Name, "AddOrUpdateCustomer", "Customer", new { id = incident.CustomerID }, null)
                    </td>
                    @if (@incident.TechID == null)
                    {
                        <td>No Tech</td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(@incident.Technician.Name, "AddOrUpdateTech", "Technician", new { id = incident.TechID }, null)
                        </td>
                    }
                    <td>
                        @Html.ActionLink(@incident.Product.Name, "AddOrUpdateProduct", "Product", new { code = incident.ProductCode }, null)
                    </td>
                    <td>
                        <div class="detailsContainer">
                            @Html.ActionLink("Details", "AddOrUpdateIncident", "Incident", new { id = incident.IncidentID }, new { @class = "detailsBtn" })
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
    </ul>
</nav>

<script>
    window.addEventListener('load', function () {
        var page = parseInt('@ViewBag.page');
        var top = parseInt('@ViewBag.top');
        var totalItems = parseInt('@ViewBag.totalItems');
        var searchTerm = ('@ViewBag.searchTerm');
        var cmbSearch = parseInt('@ViewBag.cmbSearch');

        var baseURL = '/Incident/IncidentList';

        createPaging(page, top, totalItems, baseURL, searchTerm, cmbSearch);
    });
</script>