@model List<DBProgramming3.Models.Incident>

@{
    ViewBag.Title = "IncidentList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<script defer src="~/Content/JavaScript.js"></script>

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Incidents List</h2>
    </div>
    <div class="col-md-2"></div>
    @using (Html.BeginForm("IncidentList", "Incident", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="searchContainer">
                <div>Search By:</div>
                <select name="cmbSearch" id="cmbSearch" class="cmbSearch">
                    <option value="0">Choose an option</option>
                    <option value="1">ID</option>
                    <option value="2">Title</option>
                    <option value="3">Date Opened</option>
                    <option value="4">Date Closed</option>
                    <option value="5">Customer</option>
                    <option value="5">Technician</option>
                    <option value="5">Product</option>
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="searchTerm" placeholder="Search..." />
                <div>
                    <input type="submit" class="btnStyled smallBtn" value="GO" />
                </div>
            </div>
        </div>
    }
</div>

<form method="post" action="/Incident/CreateIncident" autocomplete="on" class="formAddElement">
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <h4>Add an Incident</h4>
            <div class="row">
                <label>Title:&nbsp;</label><input type="text" id="txtIncTitle" name="txtIncTitle" />&emsp;
                <label for="customerListChoice">Customer:&nbsp;</label>
                <input list="customerList" id="customerListChoice" name="customerListChoice" class="inputStyle" />
                <datalist id="customerList">
                    @foreach (var cust in ViewBag.Customers)
                    {
                        <option value="@cust.CustomerID">@cust.Name</option>
                    }
                </datalist>
                <label for="technicianListChoice">Technician:&nbsp;</label>
                <input list="technicianList" id="technicianListChoice" name="technicianListChoice" class="inputStyle" />
                <datalist id="technicianList">
                    @foreach (var tech in ViewBag.Technicians)
                    {
                        <option value="@tech.TechID">@tech.Name</option>
                    }
                </datalist>
            </div>
            <div class="row inputsRow">
                <label>Product:&nbsp;</label>
                <input list="productList" id="productListChoice" name="productListChoice" class="inputStyle" />
                <datalist id="productList">
                    @foreach (var prod in ViewBag.Products)
                    {
                        <option value="@prod.ProductCode">@prod.Name</option>
                    }
                </datalist>
                <label>Date Opened:&nbsp;</label><input type="date" id="txtIncDateOpened" name="txtIncDateOpened" value="@DateTime.Today.ToShortDateString()" />&emsp;
                <label>Date Closed:&nbsp;</label><input type="date" id="txtIncDateClosed" name="txtIncDateClosed"/>&emsp;
            </div>
            <div class="row">
                <label>Description:&nbsp;</label><input type="text" id="txtIncDescription" name="txtIncDescription" />
            </div>
            <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewState" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="stateList" class="styled-table">
            <thead>
                <tr>
                    <th>Incident ID</th>
                    <th>Title</th>
                    <th>Date Opened</th>
                    <th>Date Closed</th>
                    <th>Customer</th>
                    <th>Technician</th>
                    <th>Product</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var incident in Model)
                {
                    <tr>
                        <td>@incident.IncidentID</td>
                        <td>@incident.Title</td>
                        <td>@incident.DateOpened.ToShortDateString()</td>
                        @if (!@incident.DateClosed.HasValue)
                        {
                            <td>Still Open</td>
                        }
                        else
                        {
                            <td>@incident.DateClosed.ToString().Substring(0, 10)</td>
                        }
                        <td>@incident.Customer.Name</td>
                        @if (@incident.TechID == null)
                        {
                            <td>No Tech</td>
                        }
                        else
                        {
                            <td>@incident.Technician.Name</td>
                        }
                        <td>@incident.Product.Name</td>
                        <td>
                            @Html.ActionLink("Edit", "AddOrUpdateIncident", "Incident", new { id = incident.IncidentID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Incident", new { id = incident.IncidentID }, new { @class = "deleteLink" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>