@model DBProgramming3.Models.Customer

@{
    ViewBag.Title = "AddOrUpdateCustomer";
}

<link rel="stylesheet" href="~/Content/AddEditPage.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script defer src="~/Content/JavaScript.js"></script>

<div class="returnContainer row">
    <a href="/Customer/CustomerList" class="returnLink"><i class="fa fa-arrow-left"></i> &nbsp; Return to Customers</a>
</div>

<div class="row">
    <h2 class="mainHeader">Edit Customer @Model.Name</h2>
</div>

@using (Html.BeginForm("AddOrUpdateCustomer", "Customer", FormMethod.Post, new { @class="formEditElement"}))
{
    @Html.HiddenFor(c => c.CustomerID);
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Name:&nbsp;</label>@Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Phone:&nbsp;</label>@Html.TextBoxFor(c => c.Phone, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Email:&nbsp;</label>@Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>State:&nbsp;</label>
                        @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.States, "StateCode", "StateName"),
                        new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>City:&nbsp;</label>@Html.TextBoxFor(c => c.City, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Address:&nbsp;</label>@Html.TextBoxFor(c => c.Address, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Zip Code:&nbsp;</label>@Html.TextBoxFor(c => c.ZipCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit Changes" class="btnStyled" id="btnSubmitNewState" />
    </div>
}

<div class="row">
    <h3 class="normalHeader">Other Details</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="otherDetailsBox">
            <h4>Incidents</h4>
            <p class="numbers"># @Model.Incidents.Count()</p>
            @if (@Model.Incidents.Count() > 0)
            {
                @Html.ActionLink("Go To Incidents", "elementIncidents", "Incident",
                       new { identification = Model.CustomerID, obj = "Customer", name = Model.Name },
                       new { @class = "detailsLink" })
            }
            else
            {
                <p>No Incident</p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="otherDetailsBox">
            <h4>Registrations</h4>
            <p class="numbers"># @Model.Registrations.Count()</p>
            @if (@Model.Registrations.Count() > 0)
            {
                @Html.ActionLink("Go To Registrations", "elementRegistrations", "Registration",
       new { identification = Model.CustomerID, obj = "Customer", name = Model.Name },
       new { @class = "detailsLink" })
            }
            else
            {
                <p>No Registration</p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <form method="post" action="/Customer/Delete" class="formDeleteElement">
            <input type="number" id="txtCustomerId" name="txtCustomerId" value="@Model.CustomerID" style="display:none" />
            <input type="submit" value="Delete Customer" class="deleteBtnStyled" />
        </form>
    </div>
</div>