@model List<DBProgramming3.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<script defer src="~/Content/JavaScript.js"></script>

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Customers List</h2>
    </div>
    <div class="col-md-2"></div>
    @using (Html.BeginForm("CustomerList", "Customer", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="searchContainer">
                <div>Search By:</div>
                <select name="cmbSearch" id="cmbSearch" class="cmbSearch">
                    <option value="0">Choose an option</option>
                    <option value="1">ID</option>
                    <option value="2">Name</option>
                    <option value="3">Phone</option>
                    <option value="4">Email</option>
                    <option value="5">State</option>
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="searchTerm" placeholder="Search..." />
                <div>
                    <input type="submit" class="btnStyled smallBtn" value="GO" />
                </div>
            </div>
        </div>
    }
</div>

<form method="post" action="/Customer/CreateCustomer" autocomplete="on" class="formAddElement">
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <h4>Add a Customer</h4>
            <div class="row inputsRow">
                <div class="col-md-3">
                    <label for="txtCustomerName">Name:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerName" name="txtCustomerName" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>Phone:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerPhone" name="txtCustomerPhone" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>Email:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerEmail" name="txtCustomerEmail" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>State:&nbsp;</label>
                    <br />
                    <input list="statesList" id="customerStateChoice" name="customerStateChoice" />
                    <datalist id="statesList">
                        @foreach (var states in ViewBag.States)
                        {
                            <option value="@states.StateCode">@states.StateName</option>
                        }
                    </datalist>
                </div>
            </div>
            <div class="row inputsRow">
                <div class="col-md-3">
                    <label>City:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerCity" name="txtCustomerCity" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>Address:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerAddress" name="txtCustomerAddress" />&emsp;
                </div>
                <div class="col-md-3">
                    <label>Zip Code:&nbsp;</label>
                    <br />
                    <input type="text" id="txtCustomerZipCode" name="txtCustomerZipCode" />&emsp;
                </div>
                <div class="col-md-3"></div>
            </div>
            <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewState" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="stateList" class="styled-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>State</th>
                    <th># Incidents</th>
                    <th># Registrations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.CustomerID</td>
                        <td>@customer.Name</td>
                        <td>@customer.Phone</td>
                        <td>
                            <a href="mailto:@customer.Email">@customer.Email</a>
                        </td>
                        <td>@customer.State</td>
                        <td><strong>@customer.Incidents.Count()</strong></td>
                        <td><strong>@customer.Registrations.Count()</strong></td>
                        <td>
                            <div class="detailsContainer">
                                @Html.ActionLink("Details", "AddOrUpdateCustomer", "Customer", new { id = customer.CustomerID }, new { @class = "detailsBtn"})
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
    </ul>
</nav>

<script>
    window.addEventListener('load', function () {
        var page = parseInt('@ViewBag.page');
        var top = parseInt('@ViewBag.top');
        var totalItems = parseInt('@ViewBag.totalItems');
        var searchTerm = ('@ViewBag.searchTerm');
        var cmbSearch = parseInt('@ViewBag.cmbSearch');

        var baseURL = '/Customer/CustomerList';

        createPaging(page, top, totalItems, baseURL, searchTerm, cmbSearch);
    });
</script>