@model DBProgramming3.Models.Technician 

@{
    ViewBag.Title = "AddOrUpdateTech";
}

<link rel="stylesheet" href="~/Content/AddEditPage.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">

<div class="row">
    <h2 class="mainHeader normalHeader">Edit @Model.Name Information</h2>
</div>

@using (Html.BeginForm("AddOrUpdateTech", "Technician", FormMethod.Post))
{
    @Html.HiddenFor(t => t.TechID);
<div class="row">
    <div class="col-md-12 addElementContainer">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <label>Name:&nbsp;</label>@Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Phone:&nbsp;</label>@Html.TextBoxFor(t => t.Phone, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label>Email:&nbsp;</label>@Html.TextBoxFor(t => t.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewTech" />
    </div>
</div>
}