@model List<DBProgramming3.Models.Technician>

@{
    ViewBag.Title = "TechList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<script defer src="~/Content/JavaScript.js"></script>

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Technicians List</h2>
    </div>
    <div class="col-md-2"></div>
    @using (Html.BeginForm("TechList", "Technician", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="searchContainer">
                <div>Search By:</div>
                <select name="cmbSearch" id="cmbSearch" class="cmbSearch">
                    <option value="0">Choose an option</option>
                    <option value="1">ID</option>
                    <option value="2">Name</option>
                    <option value="3">Phone</option>
                    <option value="4">Email</option>
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="searchTerm" placeholder="Search..." />
                <div>
                    <input type="submit" class="btnStyled smallBtn" value="GO" />
                </div>
            </div>
        </div>
    }
</div>

<form method="post" action="/Technician/CreateTech" autocomplete="on" class="formAddElement">
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <h4>Add a Technician</h4>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <label>Name:</label>
                    <br />
                    <input type="text" id="txtTechName" name="txtTechName" />
                </div>
                <div class="col-md-4">
                    <label>Phone:</label>
                    <br />
                    <input type="text" id="txtTechPhone" name="txtTechPhone" />
                </div>
                <div class="col-md-3">
                    <label>Email:</label>
                    <br />
                    <input type="text" id="txtTechEmail" name="txtTechEmail" />
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewTech" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="stateList" class="styled-table">
            <thead>
                <tr>
                    <th>Tech ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Incidents</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var technician in Model)
                {
                <tr>
                    <td>@technician.TechID</td>
                    <td>@technician.Name</td>
                    <td>@technician.Phone</td>
                    <td>
                        <a href="mailto:@technician.Email">@technician.Email</a>
                    </td>
                    <td>
                        <strong>@technician.Incidents.Count()</strong>
                    </td>
                    <td>
                        <div class="detailsContainer">
                            @Html.ActionLink("Details", "AddOrUpdateTech", "Technician", new { id = technician.TechID }, new { @class = "detailsBtn" })
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
    </ul>
</nav>

<script>
    window.addEventListener('load', function () {
        var page = parseInt('@ViewBag.page');
        var top = parseInt('@ViewBag.top');
        var totalItems = parseInt('@ViewBag.totalItems');
        var searchTerm = ('@ViewBag.searchTerm');
        var cmbSearch = parseInt('@ViewBag.cmbSearch');

        var baseURL = '/Technician/TechList';

        createPaging(page, top, totalItems, baseURL, searchTerm, cmbSearch);
    });
</script>