@model DBProgramming3.Models.State

@{
    ViewBag.Title = "AddOrUpdateState";
}

<link rel="stylesheet" href="~/Content/AddEditPage.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<script defer src="~/Content/JavaScript.js"></script>

<div class="returnContainer row">
    <a href="/State/StateList" class="returnLink"><i class="fa fa-arrow-left"></i> &nbsp; Return to States</a>
</div>

<div class="row">
    <h2 class="mainHeader">Edit @Model.StateName State</h2>
</div>

@using (Html.BeginForm("AddOrUpdateState", "State", FormMethod.Post, new { @class = "formEditElement" }))
{
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Code:&nbsp;</label>@Html.TextBoxFor(s => s.StateCode, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Name:&nbsp;</label>@Html.TextBoxFor(s => s.StateName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>First Zip Code:&nbsp;</label>@Html.TextBoxFor(s => s.FirstZipCode, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Last Zip Code:&nbsp;</label>@Html.TextBoxFor(s => s.LastZipCode, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewState" />
    </div>
}

<form method="post" action="/State/Delete" class="formDeleteElement">
    <input type="text" id="txtStateCode" name="txtStateCode" value="@Model.StateCode" style="display:none" />
    <input type="submit" value="Delete State" class="deleteBtnStyled" />
</form>