@model List<DBProgramming3.Models.Product>

@{
    ViewBag.Title = "ProductList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">
<script defer src="~/Content/JavaScript.js"></script>

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Products List</h2>
    </div>
    <div class="col-md-2"></div>
    @using (Html.BeginForm("ProductList", "Product", FormMethod.Get))
    {
        <div class="col-md-3">
            <div class="searchContainer">
                <div>Search By:</div>
                <select name="cmbSearch" id="cmbSearch" class="cmbSearch">
                    <option value="0">Choose an option</option>
                    <option value="1">Code</option>
                    <option value="2">Name</option>
                </select>
                <input type="text" id="searchTerm" name="searchTerm" class="searchTerm" placeholder="Search..." />
                <div>
                    <input type="submit" class="btnStyled smallBtn" value="GO" />
                </div>
            </div>
        </div>
    }
</div>

<form method="post" action="/Product/CreateProduct" autocomplete="on" class="formAddElement">
    <div class="row">
        <div class="col-md-12 addElementContainer">
            <h4>Add a Product</h4>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Code:&nbsp;</label>
                        <br />
                        <input type="text" id="txtProdCode" name="txtProdCode" />
                    </div>
                    <div class="col-md-3">
                        <label>Name:&nbsp;</label>
                        <br />
                        <input type="text" id="txtProdName" name="txtProdName" />
                    </div>
                    <div class="col-md-3">
                        <label>Version:&nbsp;</label>
                        <br />
                        <input type="text" id="txtProdVersion" name="txtProdVersion" />
                    </div>
                    <div class="col-md-3">
                        <label>Release Date:&nbsp;</label>
                        <br />
                        <input type="date" id="prodReleaseDate" name="prodReleaseDate" value="@DateTime.Today.ToShortDateString()" />
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="btnStyled" id="btnSubmitNewState" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table id="productList" class="styled-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Release Date</th>
                    <th># Incidents</th>
                    <th># Registrations</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                <tr>
                    <td>@product.ProductCode</td>
                    <td>@product.Name</td>
                    <td>@product.Version</td>
                    <td>@product.ReleaseDate.ToShortDateString()</td>
                    <td>
                        <strong>@product.Incidents.Count()</strong>
                    </td>
                    <td>
                        <strong>@product.Registrations.Count()</strong>
                    </td>
                    <td>
                    <div class="detailsContainer">
                        @Html.ActionLink("Details", "AddOrUpdateProduct", "Product", new { code = product.ProductCode }, new { @class = "detailsBtn" })
                    </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
    </ul>
</nav>

<script>
    window.addEventListener('load', function () {
        var page = parseInt('@ViewBag.page');
        var top = parseInt('@ViewBag.top');
        var totalItems = parseInt('@ViewBag.totalItems');
        var searchTerm = ('@ViewBag.searchTerm');
        var cmbSearch = parseInt('@ViewBag.cmbSearch');

        var baseURL = '/Product/ProductList';

        createPaging(page, top, totalItems, baseURL, searchTerm, cmbSearch);
    });
</script>